body {
  font-family: "Titillium Web", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #243E36;
}

li {
  list-style: none;
}

a {
  color: #e9e0d8;
  text-decoration: none;
  font-size: 20px;
}

.header_container {
  max-width: 1224px;
  width: 90%;
  margin: 0 auto;
}

.header_navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_nav-bar_h1 {
  font-size: 2rem;
  color: #e9e0d8;
}

.header_order {
  background-color: #243E36;
  width: 5.5em;
  height: 5.5em;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 100%;
  color: #e9e0d8;
  padding: 5px;
  margin: 5px;
  border: 1px solid #e9e0d8;
}

.header_nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  transition: 0.3s ease-out;
}

.nav-link:hover {
  color: #7e501b;
}

.header_hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease;
  background-color: #e9e0d8;
}

.photo-titel {
  max-width: 100%;
}

@media (max-width: 1024px) {
  .header_hamburger {
    display: block;
  }
  .header_hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .header_hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .header_hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .header_nav-menu {
    margin-top: 10px;
    position: fixed;
    right: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #243E36;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .header_nav-menu.active {
    right: 0;
  }
}
.photo {
  max-width: 100%;
}

.motto {
  width: 30%;
  max-width: 100%;
  display: block;
  top: 350px;
  margin: -30px auto;
}

.profil-photo {
  width: 50%;
  height: auto;
  display: block;
  border-radius: 50%;
  border: 1px solid #7e501b;
  margin: auto;
  margin-bottom: -40px;
}

.about_section {
  background-color: #e9e0d8;
}

.about_text {
  display: block;
  margin: auto;
  background-color: #243E36;
  color: #e9e0d8;
  text-align: justify;
  font-size: 16px;
  padding: 20px;
  box-shadow: 0px 5px 10px 0px #aaa;
}

.about_titel {
  text-align: center;
  font-size: 25px;
  margin: 20px;
  color: #7e501b;
}

.about_section {
  padding: 50px;
  margin-top: 100px;
}

#container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
}

#slider-container {
  height: 300px;
  width: 85vw;
  max-width: 1400px;
  position: relative;
  overflow: hidden;
}

#slider-container .btn {
  position: absolute;
  top: calc(50% - 30px);
  height: 30px;
  width: 30px;
  border-left: 8px solid pink;
  border-top: 8px solid pink;
}

#slider-container .btn:hover {
  transform: scale(1.2);
}

#slider-container .btn.inactive {
  border-color: rgb(153, 121, 126);
}

#slider-container .btn:first-of-type {
  transform: rotate(-45deg);
  left: 10px;
}

#slider-container .btn:last-of-type {
  transform: rotate(135deg);
  right: 10px;
}

#slider-container #slider {
  display: flex;
  width: 1000%;
  height: 100%;
  transition: all 0.5s;
}

#slider-container #slider .slide {
  height: 90%;
  margin: auto 10px;
  display: grid;
  place-items: center;
}

#slider-container #slider .slide span {
  color: white;
  font-size: 150px;
}

@media only screen and (min-width: 1100px) {
  #slider-container #slider .slide {
    width: calc(2.5% - 20px);
  }
}
@media only screen and (max-width: 1100px) {
  #slider-container #slider .slide {
    width: calc(3.3333333% - 20px);
  }
}
@media only screen and (max-width: 900px) {
  #slider-container #slider .slide {
    width: calc(5% - 20px);
  }
}
@media only screen and (max-width: 550px) {
  #slider-container #slider .slide {
    width: calc(10% - 20px);
  }
}
.box {
  width: 100%;
  height: 70%;
  display: block;
  margin: auto;
  background-color: #e9e0d8;
}

.icon {
  max-width: 100%;
  width: 100px;
  margin: auto;
  padding-top: 10px;
  display: block;
}

.massage {
  color: #243E36;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.more {
  background-color: white;
  width: 5.5em;
  height: 5.5em;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 100%;
  color: #243E36;
  padding: 5px;
  margin: auto;
  border: 1px solid #243E36;
  display: block;
  margin-top: 10px;
}/*# sourceMappingURL=style.css.map */