$primary:#243E36;
$telova: #e9e0d8;
$bila: white;
$hneda:#7e501b;
$shadow: 0px 5px 10px 0px #aaa;
$shadow-dack:0px 5px 10px 0px rgb(48, 45, 45);

$font-base:'Titillium Web', sans-serif ;
$specer:30px;
body{
  font-family: $font-base;
  background-color: $telova;

 
}
*{
    padding: 0;
    margin: 0;
  }
  h2{
    text-align: center;
    font-size: 30px;
   
    color:$hneda;
  }
  .header{
 background-color: $primary;
 position: fixed;
 width: 100%;
 height: auto;
 z-index: 1;
 box-shadow: $shadow;

  }
  li{
    list-style: none;
  }
  a{
    color: $telova;
    text-decoration: none;
    font-size: 20px;
  }
  .header_container{
    max-width: 1224px;
    width: 90%;
    margin: 0 auto;
    z-index: 1;
   
   
  }
  .header_navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
  }
  
  .header_nav-bar_h1{
    font-size: 30px;
    color: $telova;
    letter-spacing: 3px;
  }  
  .header_order{
    border: none;
    font-size: 18px;
    color:$bila;
    padding: 8px 16px;
    background-color:#7e501b ;
    border-radius: 15px;
    margin: 14px;
    font-family: $font-base;
    transition: all 0.3s ease;
    font-weight: bold;
    box-shadow: $shadow-dack;
  }
    // background-color: $hneda;
    // width: 5.5em;
    // height: 5.5em;
    // vertical-align: middle;
    // text-decoration: none;
    // border-radius: 100%;
    // color:$telova;
    // padding: 5px;
    // margin: 5px;
    // border: 1px solid $telova;}
   
  
  .header_nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  .nav-link{
    transition: 0.3s ease-out;
  }
  .nav-link:hover{
    color: $hneda;
  }
  .header_hamburger{
    display: none;
    cursor: pointer;
  }
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: $telova;
  }

  @media(max-width:1024px){
    .header_hamburger{
      display: block;
    }
   .header_hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
   .header_hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
   .header_hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
   .header_nav-menu{
      
      position: fixed;
      right: -100%;
      top: 90px;
      gap: 0;
      flex-direction: column;
      background-color:$primary;
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }
   .nav-item{
      margin: 16px 0;
    }
   .header_nav-menu.active{
      right: 0;
    }
  }
 
  
  .motto{
   display: block;
   margin: 120px auto;
    font-size: 50px;
    color: $bila;
    text-align: center;
    font-style: italic;
  }
  .profil-photo{
    width: 50%;
    height: auto;
    display: block;
    border-radius: 50%;
    border: 1px solid $hneda;
    margin: auto;
    margin-bottom: -40px;
    
    
   
  }
  .about_section{
    background-color: $telova;
  }
  .about_text{
    display: block;
    margin: auto;
    
    background-color: $primary;
    color: $telova;
    text-align: justify;
    font-size: 16px;
    padding: 20px;
    box-shadow: $shadow;
  }
  
  .about_titel{
    text-align: center;
    font-size: 25px;
    margin: 20px;
    color: $hneda;

  }
  .about_section{
  
    padding: 50px;
    margin-top:100px;
  }
  .slider_container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFEFEF;
    z-index: -1;
   
  }
  .slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
   
    z-index: 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .card{
    width: 320px;
    border-radius: 25px;
    background-color: #FFF;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay{
    position: absolute;
    top: 10%;
    height: 100%;
    width: 80%;
    border-radius: 25px 25px 0 25px;
  }
  .card-image{
    position: relative;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background:none;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #e9e0d8  ;
  }
  
  .description{
    font-size: 20px;
    color:$primary;
    text-align: center;
    font-weight: bold;
    
  }
  .button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color:#7e501b ;
    border-radius: 10px;
    font-family: $font-base;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: $shadow;
  }
  .button:hover{
    background:#243E36 ;
  }
  
  .swiper-navBtn{
    color: #243E36;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color:#243E36;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
    color:#7e501b ;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #243E36;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #243E36;
  }
  
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }
  .voucher{ 
    max-width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 200px;
 
    
  
  }
 
.masage{
  background-color: $bila;
  padding-top:30px;
}
  

 .masage-type{
  margin-top: 100px;
 }
 .form{
 text-align: center;
  margin:auto;
  max-width: 80%;
  margin: 100px auto;
 }
 textarea{
  width: 80%;
  min-height: 100px;
  border: none;
  margin: 5px;
  border-radius: 15px;
 }
 input{
  width: 80%;
  height: 25px;
  border: none;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;

 }
 .submit{
  border: none;
  height: auto;
  font-size: 20px;
  color: #FFF;
  padding: 5px;
  background-color:#7e501b ;
  border-radius: 10px;
  font-family: $font-base;
  margin: 14px;
  box-shadow: $shadow;

 }
 .notificationName,.notificationEmail{
  display: none;
 }
 .footer{
  background-color: $primary;
 }
 .footer-link{
  background-color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:5px ;
  gap:5%;
  font-weight: bold;
  font-size: 16px;
  
  
 }
 .copy{
  display: flex;
  justify-content: center;
  color: $telova;
  padding: 5px;
 }
 .icon{
  width: 20px;
  max-width: 100%;


 }
 .icons{
  display: flex;
  justify-content: center;
  gap:10px
 }